[user]
	name = Akinori Tomita
	email = REPLACE@example.com
[gui]
	recentrepo = /Users/tommy/Projects/redmine
	fontui = -family \"ヒラギノ角ゴ ProN W3\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family セプテンバーＭ-等幅 -size 14 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[merge]
    keepBackup = false
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
;[diff]
;    external = p4diff
[alias]
    st = status -sb
    ci = commit
    co = checkout
    br = branch
    di = diff
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    diff-word = diff --word-diff
    remote-sync-origin = remote prune origin
    remote-show-origin = remote show origin
    clone-recursive = clone --recursive
    submodule-update-recursive = submodule update --init --recursive
[core]
	excludesfile = /Users/tommy/.gitignore_global
	quotepath = false
	precomposeunicode = true
[difftool "sourcetree"]
	cmd = /Applications/ThirdParty/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/ThirdParty/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
