[user]
    name = Akinori Tomita
    email = REPLACE@example.com
[include]
    path = .gitconfig.local
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
[merge]
    keepBackup = false
    tool = p4merge
    ff = false
[pull]
    rebase = true
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
;[diff]
;    external = p4diff
[alias]
    st = status -sb
    ci = commit
    co = checkout
    br = branch
    br = branch -a
    bm = branch --merged
    bn = branch --no-merged
    di = diff
    dw = diff --color-words
    dm = diff master...HEAD # master と HEAD の分岐点からの diff
    dn = diff --no-index # ファイル同士の比較
    l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lm = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative master..
    lp = log -p
    lpm = log -p master..
    ls = log --stat
    lsm = log --stat master..
    ln = log --name-status
    lnm = log --name-status master..
    la = log --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lgm = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative master..
    fp = fetch --prune
    remote-sync-origin = remote prune origin
    remote-show-origin = remote show origin
    clone-recursive = clone --recursive
    submodule-update-recursive = submodule update --init --recursive
    merge-base-master = merge-base master HEAD
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
[core]
    excludesfile = ~/.gitignore_global
    quotepath = false
    precomposeunicode = true
    attributesfile = ~/.gitattributes
[difftool "sourcetree"]
    cmd = p4merge "$LOCAL" "$REMOTE"
    path =
[mergetool "sourcetree"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true
[github]
    user = tmy
[fetch]
	prune = true
